faster-whisper
numpy
sounddevice
soundfile
pillow
python-dotenv
pydantic>=2
flask
flask-cors
werkzeug
PyMuPDF
pytest
setuptools<70.0.0
pdfrw
svglib
xdg
tinycss2
lxml
cssselect2
webencodings
reportlab>=5.0.0
